{% extends 'core/base.html' %}

{% block title %}Mis pedidos{% endblock %}

{% block content %}
<h2>Mis pedidos</h2>

{% if pedidos %}
    <ul>
        {% for pedido in pedidos %}
            <li>
                <strong>Pedido #{{ pedido.id }}</strong> |
                Estado: {{ pedido.estado }} |
                <a href="{% url 'detalle_pedido' pedido.id %}">Ver detalle</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tenés pedidos creados.</p>
{% endif %}
{% endblock %}
