{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema de Pedidos{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>

<header>
    <h1>Sistema de Gestión de Pedidos</h1>

    {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'crear_pedido' %}">Nuevo pedido</a>
            <a href="{% url 'login' %}">Cerrar sesión</a>
        </nav>
    {% endif %}
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>Proyecto Final - Python Django</p>
</footer>

</body>
</html>
