* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #020617);
    color: #e5e7eb;
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    background-color: #020617;
    padding: 15px 0;
    border-bottom: 1px solid #1e293b;
}

.nav-container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #22c55e;
}

.nav-links a {
    color: #e5e7eb;
    margin-left: 15px;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #22c55e;
}

/* CONTENIDO */
.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}

/* TITULOS */
h1, h2 {
    margin-bottom: 20px;
    color: #22c55e;
}

/* TARJETAS */
.card {
    background-color: #020617;
    border: 1px solid #1e293b;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card a {
    color: #22c55e;
    text-decoration: none;
    font-weight: bold;
}

/* FORMULARIOS */
form div {
    margin-bottom: 15px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #22c55e;
    color: #020617;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #16a34a;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #9ca3af;
}
